<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Textutils</title>
</head>
<body>
    <h1>Welcome to Text analyzer</h1>
    <h2>Enter your text Below</h2>
    <form action='/analyze' method='get'>
        <textarea name='intext' style='margin: 0px; width: 1172px; height: 311px;'></textarea><br>
        <input type="checkbox" name="removepunc"> Remove Punctuations <br>
        <input type="checkbox" name="fullcaps"> Capitalize All <br>
        <input type="checkbox" name="removespace"> Remove Extra Spaces <br>
        <input type="checkbox" name="countchar"> Count Characters<br>
        <input type="checkbox" name="countword"> Count the Words <br>
        <button type='submit'>Analyze Text</button>
    </form>
</body>
</body>
</html></title>
</head>
<body>

</body>
</html>